@model Capentry.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<head>
    <link href="~/Content/CSS/Account.css" rel="stylesheet" type="text/css" />
</head>

<div class="container-fluid" id="main-container">
    <div class="row flex-column justify-content-center align-content-center" id="the-row">
        <div class="col-sm-8 col-md-8 col-lg-5" id="text-container">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h2 class="text-center header-text">@ViewBag.Title</h2>
                <h4 class="text-center">Enter your email</h4>
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="mb-3">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label d-none" })
                    <div class="col">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="Email" })
                    </div>
                </div>
                <div class="mb-3">
                    <div class="col-md-offset-2 col">
                        <input type="submit" class="btn btn-dark max-width" value="Email Link" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
