@using Capentry.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<link href="~/Content/CSS/Login.css" rel="stylesheet" type="text/css" />

<div class="container-fluid p-5" id="LoginContainer">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col">
            <div class="d-flex justify-content-center">
                @Html.ActionLink("BSLP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand d-flex align-self-center text-center" })
            </div>
            <div class="pb-2 text-center">
                <h2>@ViewBag.Title</h2>
            </div>

            <div class="" id="loginForm">
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Email, new { @class = "col control-label" })
                        <div class="col">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mb-3">
                        @Html.LabelFor(m => m.Password, new { @class = "col control-label" })
                        <div class="col">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-offset-2 col">
                            <div class="checkbox">
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Log in" class="btn btn-dark" />
                        </div>
                    </div>
                    <p>
                        Don't have an account? @Html.ActionLink("Register", "Register")
                    </p>
                    //Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}