@model Capentry.ViewModels.ImageViewModel

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>

@using (Html.BeginForm("UploadImage", "Images", FormMethod.Post, new { enctype = "multipart/form-data",})) 
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Image</h4>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="mb-3">
        @Html.Label("Image", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.Files, new { type = "file", @class = "form-control" })
            @Html.ValidationMessage("Please Select Photo")
        </div>
    </div>

    <div class="mb-3">
        @Html.Label("Project", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.ProjectID, (SelectList)ViewBag.Projects,
                    "Select", new { @class = "form-select" })
            @Html.ValidationMessage("Please Select Photo")
        </div>
    </div>

    <div class="mb-3">
        <div class="col-md-10">
            <button class="btn btn-dark bi bi-upload" type="submit" value="Submit">  Upload</button>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
