@model Capentry.Models.Projects

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/CSS/Projects.css" rel="stylesheet" type="text/css" />


<div class="container-fluid m-0 p-0" id="head">
    <h2>Project Details</h2>
</div>

<div class="container-fluid m-0 p-lg-5 p-md-3 p-sm-0">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProjectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectYear)
        </dd>

    </dl>

    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>