@model IEnumerable<Capentry.Models.Projects>
@using Microsoft.AspNet.Identity    

@{
    ViewBag.Title = "Projects";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<link href="~/Content/CSS/Projects.css" rel="stylesheet" type="text/css" />

<div class="container-fluid m-0 p-0" id="head">
    <h2>Projects</h2>
</div>
@if(User.IsInRole("Admin")) {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<div class="container-fluid m-0 p-lg-5 p-md-3 p-sm-0">
    <table class="table table-responsive-lg">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectYear)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectYear)
                </td>
                <td class="d-flex flex-row gap-2">
                    @Html.ActionLink(" ", "Edit", new { id = item.ProjectID }, new { @class = "btn btn-success bi bi-pencil-fill", title = "Edit" })
                    @Html.ActionLink(" ", "Details", new { id = item.ProjectID }, new { @class = "btn btn-primary bi bi-info-lg", title = "Details" })
                    @Html.ActionLink(" ", "Delete", new { id = item.ProjectID }, new { @class = "btn btn-danger bi bi-x-lg", title = "Delete" })
                </td>
            </tr>
        }

    </table>
</div>
