<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Carpentry</title>
    <link rel="shortcut icon" type="image/ico" href="~/Content/Images/Icon.jpg">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CSS/Layout.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito|Ubuntu|Pacifico|Roboto" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    @*@Styles.Render("~/Content/CSS/Index.css")*@
    @*<link href="~/Content/CSS/Index.css" rel="stylesheet" type="text/css" />*@

</head>
<body>
    @using Microsoft.AspNet.Identity
    <nav class="navbar navbar-inverse navbar-dark navbar-expand-lg fixed-top" role="navigation">
        <div class="container">
            @Html.ActionLink("BSLP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav_toggle_target" aria-controls="#nav_toggle_target" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="nav_toggle_target">
                <ul class="nav navbar-nav">
                    <li class="nav-item">@Html.ActionLink("Projects", "Index", "Images", new object { }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })</li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">@Html.ActionLink("Roles", "Index", "Roles", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid body-content">
        <div class="container" id="main">
            @RenderBody()
        </div>

    </div>
    <footer id="footer" class="">
        <div class="container" id="links">
            <div class="row">
                <div class="col-lg-4" id="social">

                    <h5>Follow Us</h5>
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-lg fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.youtube.com"><i class="fab fa-lg fa-youtube"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-lg fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="col-lg-4" id="contacts">
                    <h5>Contacts</h5>
                    <ul class="list-unstyled">
                        <li>
                            <p><i class="fas fa-lg fa-phone"></i>&nbsp;&nbsp; 0727500762</p>
                        </li>

                        <li>
                            <p><i class="fab fa-lg fa-whatsapp"></i>&nbsp;&nbsp; 0727500762</p>
                        </li>
                        <li>
                            <p>
                                <i class="fas fa-lg fa-envelope" style="font-size:25px;"></i>&nbsp;&nbsp;
                                <a href="mailto:lindoduma10@gmail.com">lindoduma10@gmail.com</a>
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4" id="nav">
                    <h5>Useful Links</h5>
                    <ul class="list-unstyled link-light">
                        <li class="nav-item"><a class="nav-link link-light" href="~/Home/Index">Home</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="~/Images/Index">Gallery</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="~/Home/Index">Payment</a></li>
                        <li class="nav-item"><a class="nav-link link-light" href="~/Home/Index">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid p-3" id="copy">
            <p>&copy; @DateTime.Now.Year - BSLP Carpentry</p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script>
            $(document).ready(function () {
                var docHeight = $(window).height();
                var footerHeight = $('#footer').height();
                var footerTop = $('#footer').position().top + footerHeight;

                if (footerTop < docHeight) {
                    $('#footer').css('margin-top', 20 + (docHeight - footerTop) + 'px');
                }
            });
        </script>*@
</body>
</html>
